VITE_FIREBASE_API_KEY=AIzaSyDMtGSFUEVsJsQRmjfOI5wQGukLkqCjO2Y
VITE_FIREBASE_AUTH_DOMAIN=varimitra-2e93d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=varimitra-2e93d
VITE_FIREBASE_STORAGE_BUCKET=varimitra-2e93d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=286853776062
VITE_FIREBASE_APP_ID=1:286853776062:web:758beda195cb06cc0754ef
VITE_FIREBASE_MEASUREMENT_ID=G-P2NT9JF8FF
