VITE_FIREBASE_API_KEY=AIzaSyA_eck4eyiK3zufrgIf_zLw2OyHiABb36g
VITE_FIREBASE_AUTH_DOMAIN=ruralmed-6cf34-16241.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ruralmed-6cf34-16241
VITE_FIREBASE_STORAGE_BUCKET=ruralmed-6cf34-16241.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=416897228818
VITE_FIREBASE_APP_ID=1:416897228818:web:a7b8d0b761bb6b7994b8cb
VITE_FIREBASE_MEASUREMENT_ID=G-92SD9W2KH7
